@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Colores de fondo*/
/*--- HEADER ---*/
header {
  background-color: #1ea896;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px; }
  header a img {
    width: 130px; }
  header nav ul {
    display: flex;
    list-style: none;
    padding-top: 30px; }
    header nav ul li a {
      color: black;
      font-style: regular;
      font-weight: 400;
      font-family: "Overpass", sans-serif;
      font-size: 20px;
      text-decoration: none;
      margin: 25px; }
      header nav ul li a:hover {
        color: white; }

/*--- INDEX ---*/
main {
  background-color: #22181c;
  height: 70vh;
  /* HERO */ }
  main h2 {
    color: white;
    font-family: "Overpass", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    text-align: center; }
  main .hero {
    width: 100%;
    height: 70vh;
    /*background-image: url("../img/cachorros.jpg");*/
    background: linear-gradient(rgba(0, 0, 0, 0.806), rgba(255, 255, 255, 0.159)), url("../img/cachorros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .hero div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .hero div h1 {
        color: white;
        font-family: "Overpass", sans-serif;
        font-weight: 700;
        font-size: 80px;
        text-align: center; }
  main .seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px; }
    main .seccion p {
      color: white; }
    main .seccion h2 {
      margin-bottom: 20px; }
  main .galeria {
    padding-top: 50px; }
  main .galeriaGrid {
    display: grid;
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 20px; }
    main .galeriaGrid div {
      border: solid 2px #b592a0;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
      main .galeriaGrid div img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    main .galeriaGrid .gal3 {
      grid-row: span 2; }
    main .galeriaGrid .gal4 {
      grid-column: span 2; }
    main .galeriaGrid .gal9 {
      grid-area: span 2 / span 2; }
    main .galeriaGrid .gal23 {
      grid-column: span 2; }

/*--- FOOTER ---*/
footer {
  display: flex;
  background-color: #b592a0;
  justify-content: center; }
  footer a img {
    height: 45px;
    margin: 20px; }

/*--- MEDIA QUERYS --- */
@media screen and (max-width: 1100px) {
  main .galeriaGrid {
    grid-template-columns: repeat(2, 1fr); }
    main .galeriaGrid .gal3 {
      grid-row: span 1; }
    main .galeriaGrid .gal4 {
      grid-column: span 1; }
    main .galeriaGrid .gal9 {
      grid-area: span 1 / span 1; }
    main .galeriaGrid .gal23 {
      grid-column: span 1; } }

@media screen and (max-width: 700px) {
  header {
    flex-direction: column; }
  main section iframe {
    width: 466px;
    height: 262px; } }

@media screen and (max-width: 600px) {
  main .galeriaGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px; } }

@media screen and (max-width: 515px) {
  header nav ul {
    flex-direction: column; } }

@media screen and (max-width: 515px) and (max-width: 500px) {
  main section iframe {
    width: 323px;
    height: 181px; } }

@media screen and (max-width: 515px) {
  main h1 {
    font-size: 50px; }
  main h2 {
    font-size: 25px; } }
